@import "tailwindcss";
@plugin "daisyui";

@theme {
    --font-myFont: "Mulish", sans-serif;
}

@layer {
    .btn-design {
        @apply bg-cyan-50 w-60 p-10 grid justify-center items-center shadow-cyan-500/50 rounded-b-2xl hover:shadow-xl/30 hover:-translate-y-2 transition duration-[0.4s]
    }
}